In [1]:
from pathlib import Path
import duckdb


SYNTHEA = Path("./input-data/synthea/")
SYNTHEA_PARQUET = Path("./output/synthea-parquet/")
SYNTHEA_DB = Path("./output/synthea.duckdb")

In [3]:
# ingest synthea data, storing intermedia parquets as well
with duckdb.connect((SYNTHEA_DB).as_posix()) as conn:
    for file_ in SYNTHEA.glob("*.ndjson"):
        duckdb.read_json(file_.as_posix()).to_parquet((SYNTHEA_PARQUET / f"{file_.stem}.parquet").as_posix())
    for file_ in SYNTHEA_PARQUET.glob("*.parquet"):
        stmt = f"""
            DROP TABLE IF EXISTS {file_.stem};
            CREATE TABLE {file_.stem} AS SELECT * FROM '{file_.as_posix()}'
            """
        conn.execute(stmt)

In [2]:
# using Relational API as it incremental query building
# https://duckdb.org/docs/api/python/relational_api
# read-only for analytics
conn = duckdb.connect(database=SYNTHEA_DB.as_posix(), read_only=True)

## Unnesting

In [ ]:
# you can't call UNNEST recursively
# this will throw InvalidInputException
# conn.sql("""
#     SELECT UNNEST(UNNEST([[1,2,3],[4,5]]))
# """)

# you need to do this
conn.sql("""
    WITH temp AS (SELECT UNNEST([[1,2,3],[4,5]]) AS a)
    SELECT UNNEST(a) FROM temp
""")

In [ ]:
# or this
conn.sql("""
    SELECT UNNEST(t)
    FROM (
        SELECT UNNEST([[1,2,3],[4,5]]) as t
        )
""")

## Creating flat table of all encounters per patient
First step in reconstructing the patient journey, is to create a list of all encounters and procedures per patient in long format. Using duckdb, this involves multiple CTEs to UNNEST arrays and access STRUCTS. Below a first shot, it feels very clunky. Surely there must be a better way.

In [33]:
conn.sql("""
    PRAGMA table_info('Encounter')
""")

┌───────┬─────────────────┬───────────────────────────────────────────────────────────┬─────────┬────────────┬─────────┐
│  cid  │      name       │                           type                            │ notnull │ dflt_value │   pk    │
│ int32 │     varchar     │                          varchar                          │ boolean │  varchar   │ boolean │
├───────┼─────────────────┼───────────────────────────────────────────────────────────┼─────────┼────────────┼─────────┤
│     0 │ resourceType    │ VARCHAR                                                   │ false   │ NULL       │ false   │
│     1 │ id              │ UUID                                                      │ false   │ NULL       │ false   │
│     2 │ meta            │ STRUCT(profile VARCHAR[])                                 │ false   │ NULL       │ false   │
│     3 │ identifier      │ STRUCT("use" VARCHAR, "system" VARCHAR, "value" UUID)[]   │ false   │ NULL       │ false   │
│     4 │ status          │ VARCHAR                                                   │ false   │ NULL       │ false   │
│     5 │ class           │ STRUCT("system" VARCHAR, code VARCHAR)                    │ false   │ NULL       │ false   │
│     6 │ type            │ STRUCT(coding STRUCT("system" VARCHAR, code BIGINT, dis…  │ false   │ NULL       │ false   │
│     7 │ subject         │ STRUCT(reference VARCHAR, display VARCHAR)                │ false   │ NULL       │ false   │
│     8 │ participant     │ STRUCT("type" STRUCT(coding STRUCT("system" VARCHAR, co…  │ false   │ NULL       │ false   │
│     9 │ period          │ STRUCT("start" VARCHAR, "end" VARCHAR)                    │ false   │ NULL       │ false   │
│    10 │ location        │ STRUCT("location" STRUCT(reference VARCHAR, display VAR…  │ false   │ NULL       │ false   │
│    11 │ serviceProvider │ STRUCT(reference VARCHAR, display VARCHAR)                │ false   │ NULL       │ false   │
├───────┴─────────────────┴───────────────────────────────────────────────────────────┴─────────┴────────────┴─────────┤
│ 12 rows                                                                                                    6 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [42]:
conn.sql("""
    WITH temp1 AS (
        SELECT
            id,
            struct_extract(UNNEST(type), 'coding') AS coding
        FROM Encounter
    ),
    temp2 AS (
        SELECT
            id,
            UNNEST(temp1.coding) AS coding
        FROM temp1
    ),
    temp3 AS (
        SELECT
            id AS encounterId,
            coding.*
        FROM temp2
    )
    SELECT
        regexp_split_to_array(e.subject.reference, '/')[-1] AS patientId,
        p.birthDate,
        regexp_split_to_array(serviceProvider.reference, '\|')[-1] AS organizationId,
        temp3.*,
        CAST(e.period.start AS TIMESTAMP) AS period_start,
        CAST(e.period.end AS TIMESTAMP) AS period_end,

    FROM temp3
    LEFT JOIN Encounter e ON e.id = temp3.encounterId
    LEFT JOIN Patient p ON p.id = regexp_split_to_array(e.subject.reference, '/')[-1]

""")

┌──────────────────────┬────────────┬───┬──────────────────────┬─────────────────────┬─────────────────────┐
│      patientId       │ birthDate  │ … │       display        │    period_start     │     period_end      │
│       varchar        │    date    │   │       varchar        │      timestamp      │      timestamp      │
├──────────────────────┼────────────┼───┼──────────────────────┼─────────────────────┼─────────────────────┤
│ 093c96cc-54ef-9087…  │ 1969-11-21 │ … │ General examinatio…  │ 2013-12-06 17:01:35 │ 2013-12-06 17:16:35 │
│ cffc0afe-15f1-9dde…  │ 1969-11-09 │ … │ General examinatio…  │ 2013-11-24 22:13:38 │ 2013-11-24 22:28:38 │
│ c9c90c6b-d258-b628…  │ 2010-08-05 │ … │ Well child visit (…  │ 2013-07-11 08:10:17 │ 2013-07-11 08:25:17 │
│ 94f5dc9e-c391-a203…  │ 1987-09-17 │ … │ General examinatio…  │ 2015-11-26 07:53:42 │ 2015-11-26 08:08:42 │
│ bb589a13-5469-624f…  │ 1965-08-18 │ … │ General examinatio…  │ 2013-09-11 09:56:50 │ 2013-09-11 10:11:50 │
│ 05efa25e-2f63-c2a2…  │ 1957-11-30 │ … │ General examinatio…  │ 2014-01-04 01:34:33 │ 2014-01-04 01:49:33 │
│ 7b4156a0-ceae-a631…  │ 1992-09-04 │ … │ General examinatio…  │ 2014-11-07 21:08:13 │ 2014-11-07 21:23:13 │
│ 093c96cc-54ef-9087…  │ 1969-11-21 │ … │ General examinatio…  │ 2015-12-11 17:01:35 │ 2015-12-11 17:16:35 │
│ 94f5dc9e-c391-a203…  │ 1987-09-17 │ … │ General examinatio…  │ 2018-11-29 07:53:42 │ 2018-11-29 08:08:42 │
│ c9c90c6b-d258-b628…  │ 2010-08-05 │ … │ Well child visit (…  │ 2014-01-09 08:10:17 │ 2014-01-09 08:25:17 │
│          ·           │     ·      │ · │          ·           │          ·          │          ·          │
│          ·           │     ·      │ · │          ·           │          ·          │          ·          │
│          ·           │     ·      │ · │          ·           │          ·          │          ·          │
│ 07f3797e-0eda-495e…  │ 1917-04-16 │ … │ General examinatio…  │ 2023-02-27 13:43:31 │ 2023-02-27 13:58:31 │
│ dd612323-3c1f-6c13…  │ 2021-03-20 │ … │ Well child visit (…  │ 2021-03-19 23:45:07 │ 2021-03-20 00:00:07 │
│ dd612323-3c1f-6c13…  │ 2021-03-20 │ … │ Well child visit (…  │ 2021-04-23 23:45:07 │ 2021-04-24 00:00:07 │
│ dd612323-3c1f-6c13…  │ 2021-03-20 │ … │ Well child visit (…  │ 2021-06-25 23:45:07 │ 2021-06-26 00:00:07 │
│ dd612323-3c1f-6c13…  │ 2021-03-20 │ … │ Well child visit (…  │ 2021-08-27 23:45:07 │ 2021-08-28 00:00:07 │
│ dd612323-3c1f-6c13…  │ 2021-03-20 │ … │ Well child visit (…  │ 2021-11-26 23:45:07 │ 2021-11-27 00:00:07 │
│ dd612323-3c1f-6c13…  │ 2021-03-20 │ … │ Well child visit (…  │ 2022-02-25 23:45:07 │ 2022-02-26 00:00:07 │
│ dd612323-3c1f-6c13…  │ 2021-03-20 │ … │ Well child visit (…  │ 2022-05-27 23:45:07 │ 2022-05-28 00:00:07 │
│ dd612323-3c1f-6c13…  │ 2021-03-20 │ … │ Well child visit (…  │ 2022-08-26 23:45:07 │ 2022-08-27 00:00:07 │
│ dd612323-3c1f-6c13…  │ 2021-03-20 │ … │ Well child visit (…  │ 2023-02-24 23:45:07 │ 2023-02-25 00:00:07 │
├──────────────────────┴────────────┴───┴──────────────────────┴─────────────────────┴─────────────────────┤
│ 923 rows (20 shown)                                                                  9 columns (5 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [4]:
conn.close()